<head>
    <meta charset="UTF-8">
    <title>우리들의 비밀 이야기</title>
    {% load static %}
    
    {#  cafe24  fon t#}
    <link href="https://webfontworld.github.io/cafe24/Cafe24Simplehae.css" rel="stylesheet">
    {#  SangjuDajungdagam font #}
    <link href="https://webfontworld.github.io/sangju/SangjuDajungdagam.css" rel="stylesheet">
    {#  잘풀리는 하루 font #}
    <link href="https://webfontworld.github.io/Jalpullineun/JalpullineunHaru.css" rel="stylesheet">
    {#  Mapo금빛나루 font #} 
    <link href="https://webfontworld.github.io/mapo/MapoGoldenPier.css" rel="stylesheet">
    {#  쑥쑥체  font #} 
    <link href="https://webfontworld.github.io/Cafe24Ssukssuk/Cafe24Ssukssuk.css" rel="stylesheet">

    {#  static link#}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>