{%if user.is_authenticated %}
<header>
    
<div class="title">   
    <a href="{% url 'accountapp:main' %}">
        우리들의 비밀 이야기
    </a>
</div>

<div>
    <nav>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        <span>
            <a href="{% url 'calendarapp:calendar' %}">
                My calendar
            </a>
        </span>
    </nav>
</div>

<hr>

</header>  

{% else %}

<header>
<div class="title">
    <a href="{% url 'accountapp:blogin' %}">
        우리들의 비밀 이야기
    </a>
</div>
</header>

{% endif %}
