/* 소개 페이지 */
body{
    height: auto;
    text-align: left;
}
svg{
    width: 20%;
}

header .title{
    position: fixed;
    width: 90vw;
    z-index: 100;
    margin:0;
    padding: 2%;
    text-align: right;
}
nav{
    position: fixed;
    bottom: 3%;
    left: 50%;
    z-index: 1000;
}
    nav button{
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid burlywood;
        transition: 0.5s;
        z-index: 1000;
    }
    nav button:hover{
        color: lightpink;
    }

#about{
    background: url(../static/사진/cloud.jpg) no-repeat;
    background-size: cover;
    height: 400vh;
    width: auto;

}
.about_scroll{
    position: sticky;
    top: 0;
    overflow-y: hidden;
    overflow-x: auto;
    height:100vh;
    box-sizing: border-box;
}
.about_content{
    padding-top: 15vh;
    position: fixed;
    display: flex;
    top:0;
    bottom:0;
    left:0;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
    text-align: left;
    transition: 1s;
    transform: translate(0,0);
}
.about_section{
    width: 100vw;
    height: 100%;
    padding: 0 1%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.wrap{
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 90%;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 50%;
    height: 90%;
    margin: auto 0;
}
    .text p{
        width: 80%;
    }
.img_grid{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    grid-gap: 1%;
}
.img_grid img{
    max-height: 100%;
    max-width: 100%;
}
button{
    border: none;
    transition: 1s;
}
button{
    background-size: 100% !important;
}
button:hover, button:active, button:focus{
    background-size: 130% !important;
    border: 1px solid ghostwhite;
}
#anniversary_img1{
    background: url(../static/사진/봄.jpg) center top;}
#anniversary_img2{
    background: url(../static/사진//여름.jpg) center;}
#anniversary_img3{
    background: url(../static/사진/가을.jpg) center;}
#anniversary_img4{
    background: url(../static/사진/겨울.jpg) center;}

#diary_img1{
    background: url(../static/사진/child.jpg) center;}
#diary_img2{
    background: url(../static/사진/child.jpg) center;}
#diary_img3{
    background: url(../static/사진/child.jpg) center;}
#diary_img4{
    background: url(../static/사진/child.jpg) center;}