*{
    font-family: 'JalpullineunHaru';
}
html,body{
    background-color:lavender;
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    height: 100%;
}
a{
    color:rgb(102, 36, 163);
    font-family: 'SangjuDajungdagam';
}
a:hover{
    color:pink;
}


/* login */
#login{
    background: url(../static/사진/love.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    display: block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
#login header .title{
    margin:0;
    padding:2rem;
    font-size: 4rem;
}
#login header .title a{
    color:ghostwhite;
}
#login header .title a:hover{
    color: pink;
}
#login form{
    margin: 1.3rem;
}
.loginForm{
    background-color: rgba(37, 36, 36, 0.863);
    display: inline-block;
    width: 30%;
    height: 60%;
    border-radius: 0.3rem;
    box-shadow:1px 1px 10px 5px black;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    font-size: 0.5rem;
    color: ghostwhite;
}
#login .to_create{
    margin:1rem;
}
.idForm{
    margin: 1.2rem;
    font-size: 1rem; 
}
.id {
    width: 50%;
    border:none;
    border-bottom: 0.1rem solid ghostwhite;
    outline:none;
    color: ghostwhite;
    font-size: 1rem;
    height:1rem;
    margin: 1rem;
    padding:0.5rem;
    background: none;
}
.btn {
    width:30%;
    height:40px;
    background: linear-gradient(125deg,#81afec,#c05ce7,#df81ec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-family: 'SangjuDajungdagam';
    font-size: 18px;
    border:none;
    border-radius: 3rem;
    cursor:pointer;
    transition: 0.4s;
    text-align: center;
}
.btn:hover {
    background-position: right;
    font-weight: bold;
}
/* create */
#create{
    background: url(../static/사진/love.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    display: block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
#create header .title{
    margin:0;
    padding:2rem;
    font-size: 4rem;
}
#create header .title a{
    color:ghostwhite;
}
#create header .title a:hover{
    color: pink;
}
#create form{
    margin: 1rem;
}
.createForm{
    background-color: rgba(37, 36, 36, 0.863);
    display: inline-block;
    width: 30%;
    height: 55%;
    border-radius: 0.3rem;
    box-shadow:1px 1px 10px 5px black;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 0.5rem;
    color: ghostwhite;
}

/* header */
header{
    text-align: center;

}
header hr{
    margin:1rem auto;
    border:0;
    height:1px;
    background-color: rgba(137, 43, 226, 0.253);
    width:30%
}
header span{
    padding:1rem;
}
header .title{
    font-size: 3rem; 
    margin: 2rem 2rem; 
    text-shadow: 3px 3px 3px rgb(176, 164, 240);
}
header .title a{
    text-decoration: none;
}

/* footer */
footer{
    text-align: center;
    margin:1rem auto;
    color: rgba(43, 55, 226, 0.788);
    clear: left;
}