*{
    font-family: 'JalpullineunHaru';
}
html,body{
    background-color:black;
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    height: 100%;
}
a{
    font-family: 'SangjuDajungdagam';
    color: ghostwhite;
    text-shadow: 1px 1px 3px black;
}
a:hover{
    color:pink;
    text-shadow: 3px 3px 3px black;
}


/* login */
#login{
    background: url(../static/사진/커플삽화_노을.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    display: block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
#login header .title{
    margin:0;
    padding:1.5rem;
    font-size: 3.5rem;
}
#login .to_create a{
    text-decoration: underline wavy rgba(255, 192, 203, 0.438);
}
#login form{
    margin: 1rem;
}
.loginForm{
    background-color: rgba(37, 36, 36, 0.925);
    display: inline-block;
    width: 30%;
    border-radius: 0.3rem;
    box-shadow:1px 1px 10px 5px black;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 0.5rem;
    color: ghostwhite;
}
#login span{
    font-size:1.9rem;
}
#login .to_create{
    margin:2rem;
}
.idForm{
    margin: 1.2rem;
    margin-top: 1.8rem;
    font-size: 1rem; 
}
.id {
    width: 50%;
    border:none;
    border-bottom: 0.1rem solid ghostwhite;
    outline:none;
    color: ghostwhite;
    font-size: 1rem;
    height:1rem;
    margin: 1rem;
    padding:0.5rem;
    background: none;
}
.btn {
    width:30%;
    height:40px;
    background: linear-gradient(125deg,#eea971,#e74aa0,#df81ec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-family: 'SangjuDajungdagam';
    font-size: 20px;
    border:none;
    border-radius: 3rem;
    cursor:pointer;
    transition: 0.4s;
    text-align: center;
}
.btn:hover {
    background-position: right;
    font-weight: bold;
    color:black;
}
.error{
    color:red;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.6rem;
}
/* create */
#create{
    background: url(../static/사진/커플삽화_노을.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    display: block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
#create header .title{
    margin:0;
    padding:1.5rem;
    font-size: 3.5rem;
}
#create span{
    font-size:1.9rem;
}
#create form{
    margin: 1rem;
}
.createForm{
    background-color: rgba(37, 36, 36, 0.925);
    display: inline-block;
    width: 30%;
    border-radius: 0.3rem;
    box-shadow:1px 1px 10px 5px black;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    font-size: 0.5rem;
    color: ghostwhite;
}

/* header */
header{
    text-align: center;

}
header hr{
    margin:1rem auto;
    border-top: 1px dotted rgba(248, 248, 255, 0.37) ;
    border-bottom:0;
    width:40%;
    display: inline-block;
}
header span{
    padding:1rem;
}
header .title{
    font-size: 3rem; 
    margin: 2rem 2rem; 
    text-shadow: 3px 3px 3px rgb(176, 164, 240);
}
header .title a{
    text-decoration: none;
}

/* footer */
footer{
    text-align: center;
    margin:1rem auto;
    color: ghostwhite;
    clear: left;
}

/* 소개 페이지 */
#about{
    background: url(../../../static/사진/커플삽화_코코아.jpg) center no-repeat;
    height: 300%;
    background-size: cover;
    display: block;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
#about header .title{
margin:0;
padding:1.5rem;
font-size: 3.5rem;
}
#about div{
    color:ghostwhite;
}

/* wrap1 - 서비스 소개*/
#about_wrap1{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 40%;
    margin: 3% auto 5% auto;
}
.about_box{
    display: inline-block;
    width: 100%;
    height: 50%;
    background-color: rgba(37, 36, 36, 0.925);
    border-bottom: 1px solid blanchedalmond;
    font-size: 1.5vw;
    line-height: 5vh;
}
#about_1_img{
    background: url(../static/사진/봄.jpg) center 10% no-repeat;
    background-size: cover;
    float:left;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    transition: 1s;
}
#about_1_img:hover{
    transform: scale(1.05);
    border-radius: 10%;
}
.about_p{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    padding-left: 2rem;
}
#about_2_img{
    background: url(../static/사진/여름.jpg) center 50%  no-repeat;
    background-size: cover;
    float:left;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    transition: 1s;
}
#about_2_img:hover{
    transform: scale(1.05);
    border-radius: 10%;
}

/* wrap2 - 사진예시 */
#about_wrap2{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40%;
    margin: 3% auto 5% auto;
    padding: 2%;
    background-color: rgba(37, 36, 36, 0.925);
    border: 1px solid blanchedalmond;
    border-radius: 3%;
}
#about_eximg{
    display: inline-block;
    width: 80%;
    height: 70%;
    box-sizing: border-box;
}
#about_eximg img{
    max-width: 100%;
    max-height: 90%;
}
#about_exbox{
    display: inline-grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(1,200px);
    width: 80%;
    box-sizing: border-box;
    justify-content: center;
}
.about_ex{
    background: black;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    
}
.about_ex img{
    width: 250px;
    height: 200px;
    border: 1px solid blanchedalmond;
}