#main{
    width: 100%;
    height: 133%;
    background:url(../../../static/사진/커플삽화_노을.jpg) center top no-repeat;
    background-size: cover;
    display: block;
    position:relative;
    margin:0;
    box-sizing: border-box;
    text-align: center;
}
#main header .title{
    margin: 0;
    padding: 2rem;
}
#main header .title a{
    font-size: 3rem;
}

#main_wrap{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 1rem;
}

.main_box{
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    height: 50%;
}
.main_box p{
    font-size: 1.5rem;
    color:blanchedalmond;
}
#calendar_box{
    background: url(../../../static/사진/봄.jpg) center center no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding:0;
    transition: 1s;
}
#calendar_box:hover{
    transform: scale(1.1);
}
#calendar_box img{
    width:100%;
    background-color: rgb(250, 245, 245);
    border-radius: 50%;
    transition:0.8s;
}
#calendar_box img:hover{
    opacity:0;
}
#diary_box{
    background: url(../../../static/사진/여름.jpg) center center no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding:0;
    transition: 1s;
}
#diary_box:hover{
    transform: scale(1.1);
}
#diary_box img{
    width:100%;
    background-color: rgb(250, 245, 245);
    background-size:cover;
    border-radius: 50%;
    transition:0.8s;
}
#diary_box img:hover{
    opacity:0;
}

#main footer{
    margin:0;
    padding:1rem;
}
#main footer div{
    padding:0;
    margin:0;
}