{% extends 'base.html'%}
{% block content %}
<body>
<meta charset='utf-8' />
    <link href='../../static/fullcalendar/main.css' rel='stylesheet' />
    <script src='../../static/fullcalendar/main.js'></script>
    <script src='../../static/fullcalendar/ko.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    eventClick: function(info) {
      var eventObj = info.event;

      if (eventObj.url) {
        alert(
          'Clicked ' + eventObj.title + '.\n' +
          'Will open ' + eventObj.url + ' in a new tab'
        );

        window.open(eventObj.url);

        info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
      } else {
        alert('Clicked ' + eventObj.title);
      }
    },
    initialDate: new Date(),
    events: [
      {
        title: 'simple event',
        start: '2021-12-02'
      },
      {
        title: 'event with URL',
        url: 'https://www.google.com/',
        start: '2021-12-03'
      }
    ]
    ,locale: 'ko',
  });

  calendar.render();
});
      // document.addEventListener('DOMContentLoaded', function() {
      //   var calendarEl = document.getElementById('calendar');

      //   var calendar = new FullCalendar.Calendar(calendarEl, {
      //     locale: 'ko',
      //     headerToolbar: {
      //       left: 'prev,next today',
      //       center: 'title',
      //       right: 'dayGridMonth,timeGridDay,listMonth'
      //     },
      //     initialDate: new Date(),
      //     navLinks: true, // can click day names to navigate views
      //     businessHours: true, // display business hours
      //     editable: true,
      //     selectable: true,
      //     events: [
      //     {
      //       title: 'event with URL',
      //       url: 'https://www.google.com/',
      //       start: '2021-12-03'
      //     } 
      //     ]
      //   });

      //   calendar.render();
      // });
    </script>

    <style>
      body {
        margin: 1rem;
        padding: 1rem;
        font-size: 14px;
      }

      #calendar {
        max-width: 1100px;
        width: 70%;
        margin: 0 auto;
      }

    </style>


  {%if user.is_authenticated %}
  <div id='calendar'></div>
  {%endif%}
  
</body>
{% endblock %}