{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
<script type="text/javascript" src="../../../static/js/about.js"></script>
<body>
{% include "header.html" %}
<nav>
    <button type="button" id="btn_1">1</button>
    <button type="button" id="btn_2">2</button>
    <button type="button" id="btn_3">3</button>
    <button type="button" id="btn_4">4</button>
</nav>
<div id="about">  
    <div class="about_scroll"> 
        <div class="about_content">
            <section class="about_section flex-row">
                <div class="wrap flex-row">
                    <div class="text">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calendar-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 14V4h14v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1Zm7-6.507c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                        </svg>
                        <h2>anniversary</h2>
                        <p>
                            A calendar is an object in the form of a booklet in which the month,<br>
                            day, day of the week, anniversaries, holidays, etc. are marked for each day of the year.<br>
                            A calendar (冊曆) is a document that records the age of one year and the date.
                        </p>
                        
                        </div>
                    <div class="img_grid">
                        <button id="anniversary_img1" type="button">&#32;</button>
                        <button id="anniversary_img2" type="button">&#32;</button>
                        <button id="anniversary_img3" type="button">&#32;</button>
                        <button id="anniversary_img4" type="button">&#32;</button>
                    </div>
                </div>
            </section>

            <section class="about_section flex-row">
                <div class="wrap flex-row">
                    <div class="img_grid">
                        <button id="diary_img1" type="button">&#32;</button>
                        <button id="diary_img2" type="button">&#32;</button>
                        <button id="diary_img3" type="button">&#32;</button>
                        <button id="diary_img4" type="button">&#32;</button>
                    </div>
                    <div class="text">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                            <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                        </svg>
                        <h2>Diary</h2>
                        <p>
                            A diary (日記) is an unofficial, private record in which<br>
                            an individual records daily experiences, thoughts, feelings, etc., on a daily basis.<br>
                            Usually, it is recorded on a daily basis, but it varies greatly depending on<br>
                            the individualb who writes it, and since it is not a compulsory public record,<br>
                            it can actually be a period or a month depending on the interval of writing.<br>
                            Diaries of the past often have the characteristics of a journal and a diary,<br>
                            unlike today, although it is usually called a journal to leave an official record for a special purpose.
                        </p>
                    </div>
                </div>
            </section>

            <section class="about_section flex-row">
                <div class="wrap flex-row">
                    <div class="img_grid">
                        <img alt="anniversary" src="../../../static/사진/heart.jpg">
                        <img alt="anniversary" src="../../../static/사진/night.jpg">
                        <img alt="anniversary" src="../../../static/사진/night.jpg">
                        <img alt="anniversary" src="../../../static/사진/night.jpg">
                    </div>
                    <div class="text">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
                            <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                            <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                            <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                            <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        <h2>Music</h2>
                        <p>
                            Music is the art of arranging sounds in time through <br>
                            the elements of melody, harmony, rhythm, and timbre.<br>
                            It is one of the universal cultural aspects of all human societies.<br>
                            General definitions of music include common elements<br>
                            such as pitch (which governs melody and harmony), <br>
                            rhythm (and its associated concepts tempo, meter, and articulation),<br>
                            dynamics (loudness and softness), and the sonic qualities of timbre and texture (which are sometimes termed the "color" of a musical sound).
                        </p>
                        
                    </div>
                </div>
            </section>

            <section class="about_section flex-row">
                <div class="wrap flex-row">
                    <div class="text">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                            <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
                        </svg>
                        <h2>Album</h2>
                        <p>
                            A photo album made of thick paper on which photos,.<br>
                            calligraphy and paintings, stamps, and Christmas cards are pasted..<br>
                            Albums were originally created for the purpose of long-term preservation<br>
                            by organizing and pasting photos to prevent damage and loss.<br>
                            There are many convenient albums in which photos can be inserted, removed,<br>
                            or repositioned freely by covering the land with a special adhesive and inserting photos between them.<br>
                            [Naver Encyclopedia of Knowledge] Album [album] (Doosan Encyclopedia Dududia, Doosan Encyclopedia)
                        </p>
                    </div>
                    <div class="img_grid">
                        <img alt="anniversary" src="../../../static/사진/children.jpg">
                        <img alt="anniversary" src="../../../static/사진/children.jpg">
                        <img alt="anniversary" src="../../../static/사진/children.jpg">
                        <img alt="anniversary" src="../../../static/사진/children.jpg">
                    </div>
                </div>
            </section>
        </div>   
    </div>
</div>
</body>
{% endblock %}