{% extends 'base.html' %}
{% block content %}
{%load static%}

<section id="about">
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% include "header.html" %}
    
<body id="about_body">
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                duration: 1000})
        </script>

        <div id="about_wrap1" data-aos="fade-up">
            <div class="about_box">
                <div id="about_1_img"><img src="../../../static/사진/ratio_1x1.png"></div>
                <div class="about_p">
                    <p>
                        <h2>anniversary calendar</h2>
                        기념일 달력
                    </p>
                </div>
            </div>
            <div class="about_box">
                <div id="about_2_img"><img src="../../../static/사진/ratio_1x1.png"></div>
                <div class="about_p">
                    <p>
                        <h2>diary</h2>
                        일기
                    </p>
                </div>
            </div>
        </div>

        <div id="about_wrap2">
            <div id="about_eximg" data-aos="fade-down">
                <img id="eximg" src="../../../static/사진/children.jpg"></div>
            <div id="about_exbox">
                <div class="about_ex" data-aos="fade-right">
                    <img id="about_1_ex" src="../../../static/사진/camping.jpg" onclick="changeSRC('#about_1_ex')">
                </div>
                <div class="about_ex" data-aos="fade-right">
                    <img id="about_2_ex" src="../../../static/사진/camfire.jpg" onclick="changeSRC('#about_2_ex')">
                </div>
                <div class="about_ex" data-aos="fade-left">
                    <img id="about_3_ex" src="../../../static/사진/wedding.jpg" onclick="changeSRC('#about_3_ex')">
                </div>
                <div class="about_ex" data-aos="fade-left">
                    <img id="about_4_ex" src="../../../static/사진/children.jpg" onclick="changeSRC('#about_4_ex')">
                </div>
            </div>
        </div>

    <script>
        var eximg = document.querySelector("#eximg");

        function changeSRC(ex_id){
            var newPic = document.querySelector(ex_id).src;
            eximg.setAttribute("src",newPic)
        }
    </script>
</body>
</section>
{% endblock %}