{% extends 'base.html' %}
{% block content %}

<body>
  <style>
    body,html,a,div,span{
      padding: 0;
      margin: 0;
      border: 0;
      background: none;
    }
    html{
      background-color: lavender !important;
    }
    #main {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      line-height: 657px;
    }
    .wrap{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 100%;
      margin: 0 auto
    }
    #main a{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      float: left;
      width: 100%;
      background-color: #101111;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      transition: 1s;
      -webkit-transition: 1s;
      color:ghostwhite;
    }
    #main a:hover{
        color:rgb(252, 87, 114);
    }
    img{
      display: inline-block;
      vertical-align: middle;
      float: left;
      width: 100%;
      box-sizing: border-box;
      background: none;
    }

      /* b */
    .b_wrap{
      display: inline-block;
      vertical-align: middle;
      float: left;
      width: 50%;
      line-height: 0;
    }
    .b_a{
      width: 100%;
      background-image: url('https://cdn.pixabay.com/photo/2013/11/24/21/52/animals-217652_960_720.jpg');
      background-size: cover !important;
      border: ghostwhite solid 2px;
    }
    .b_a img{
      float: right;
      width: 75%;
    }
    .b_a span{
      left: 0;
      bottom: 13%;
      width: 100%;
      font-size: 200%;
      line-height: 2.083vw;
      letter-spacing: 1vw;
      text-indent: 1.041vw;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      font-weight: 200;
      color: #fff
    }
    .b2_a{
      width: 100%;
      border: ghostwhite solid 2px;
      background-image: url(../../../static/sea.jpg), url(../../../static/camping.jpg);
      background-size: contain, cover !important;
      background-position: left, 0% 30% !important;

    }
    .b2_a img{
      float: right;
      width: 25%;
    }

      /* c */
    .c_wrap{
      display: inline-block;
      vertical-align: middle;
      float: right;
      width: 50%;
      line-height: 0;
    }
    .c_a{
      width: 100%;
      background-image: url('https://cdn.pixabay.com/photo/2019/10/21/08/28/couple-4565426_960_720.jpg');
      background-position: 50% 10% !important;
      border: 1px solid ghostwhite ;
    }
    .c_a img{
      float: right;
      width: 25%;
    }
    .c2_a{
      width: 100%;
      background-image: url("https://cdn.pixabay.com/photo/2019/11/10/11/13/couple-4615557_960_720.jpg");
      background-position: 50% 35% !important;
      border: 1px solid ghostwhite ;
    }
    .c2_a img{
      float: right;
      width: 25%;
    }
    .c3_a{
      width: 100%;
      background-image: url("https://cdn.pixabay.com/photo/2021/09/24/21/06/couple-6653517_960_720.jpg");
      background-position: 50% 50% !important;
      border: 1px solid ghostwhite ;
    }
    .c3_a img{
      float: right;
      width: 25%;
    }
    .c3_a span{
      left: 0;
      bottom: 13%;
      width: 100%;
      font-size: 230%;
      line-height: 2.083vw;
      letter-spacing: 1vw;
      text-indent: 1.041vw;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      font-weight: bold;
    }
    .c4_a{
      width: 100%;
      background-image: url("https://cdn.pixabay.com/photo/2014/12/16/22/41/couple-570903_960_720.jpg");
      background-position: 50% 50% !important;
      border: 1px solid ghostwhite ;
    }
    .c4_a img{
      float: right;
      width: 25%;
    }
  </style>
  <section id="main">
    <div class="wrap">
      <div class="b_wrap">
        <a href={% url 'accountapp:blogin' %} class="b_a">
          <div>
          <span>우리들의 비밀 이야기</span>
          </div>
          <div>
            <img src="../../../static/ratio_1x1.png">
          </div>
        </a>

        <a href={% url 'accountapp:blogin' %} class="b2_a">
          <div>
              <img src="../../../static/ratio_1x1.png">
              <img src="../../../static/ratio_1x1.png">
          </div>  
        </a>     
      </div>

      <div class="c_wrap">
        <a href={% url 'accountapp:login' %} class="c_a">
          <div>
            <img src="../../../static/ratio_1x1.png">
          </div>
        </a>
        <a href={% url 'accountapp:login' %} class="c2_a">
          <div>
            <img src="../../../static/ratio_1x1.png">
          </div>
        </a>
        <a href={% url 'accountapp:login' %} class="c3_a">
          <div>
            <span>"당신의 연애를 기록하세요"</span>
          </div>
          <div>
            <img src="../../../static/ratio_1x1.png">
          </div>
        </a>
        <a href={% url 'accountapp:login' %} class="c4_a">
          <div>
            <img src="../../../static/ratio_1x1.png">
          </div>
        </a>

      </div>
    </div>
  </section>
</body>

{% endblock %}