{% extends 'base.html' %}
{% block content %}
{%load static%}

<body>
  <link rel="stylesheet" type="text/css" href="{% static 'blogin.css' %}">

  <section id="main">
    <div class="wrap">
      <div class="b_wrap">
        <a href={% url 'accountapp:blogin' %} class="b_a">
          <div>
          <span>우리들의 비밀 이야기</span>
          </div>
          <div>
            <img src="../../../static/사진/ratio_4x3.png">
          </div>
        </a>

        <a href={% url 'accountapp:blogin' %} class="b2_a">
          <div>
              <img src="../../../static/사진/ratio_1x1.png">
          </div>  
        </a>     
      </div>

      <div class="c_wrap">
        <a href={% url 'accountapp:login' %} class="c_a">
          <div>
            <span>"당신의 연애를</span>
          </div>
          <div>
            <img src='../../../static/사진/ratio_1x1.png'>
            <img src='../../../static/사진/ratio_1x1.png'>
          </div>
        </a>

        <a href={% url 'accountapp:login' %} class="c3_a">
          <div>
            <span>기록하세요"</span>
          </div>
          <div>
            <img src='../../../static/사진/ratio_1x1.png'>
            <img src='../../../static/사진/ratio_1x1.png'>
          </div>
        </a>
      </div>
    </div>
  </section>
</body>

{% endblock %}