{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

<body id="create">
    {% include "header.html" %}
    <section >
        <div class="createForm">
            <form action="{% url 'accountapp:create' %}" method="post">{% csrf_token %}
                <span>회원 가입</span>
            {% for field in form %}
                <div class="idForm">
                    <label form="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    <input type="{{ field.field.widget.input_type }}" class="id"
                            id="{{ field.id_for_label }}" name="{{ field.name }}"/>
                </div>
            {% endfor %}

            {% if form.errors %}
                <div class="error">필수 항목입니다. </div>
            {% endif %}
                <button type="submit" class="btn rounded-pill" onclick="button()">Create</button>
        
            </form>
        </div>
    </section>
</body>

{% endblock %}