{% extends 'base.html' %}
{% block content %}
<body id="login">
    {% include "header.html" %} 
    <section>
        <div class="loginForm">
            <form action="" method="post">{% csrf_token %}
                <span>로그인</span>
            {% for field in form %}
                <div class="idForm">
                    <label form="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    <input type="{{ field.field.widget.input_type }}" class="id"
                        id="{{ field.id_for_label }}" name="{{ field.name }}"/>
                </div>
            {% endfor %}

            {% if form.errors %}
                <div class="error">필수 항목입니다 </div>
            {% endif %}
                <button type="submit" class="btn" onclick="button()">Start</button>
                <div class="to_create">
                    <a style="font-size: 1.3rem" href={% url 'accountapp:create' %}> 회원 가입 </a>
                </div>
            </form>
        </div>
    </section>
</body>

{% endblock %}