{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<body>
  <style>
    #main{
      width: 100%;
      height: 133%;
      background:url(../../../static/사진/커플삽화_노을.jpg) center 30% no-repeat;
      background-size: cover;
      display: block;
      position:relative;
      margin:0;
      box-sizing: border-box;
    }
    #main header .title{
      margin: 0;
      padding: 2rem;
    }
    #main header .title a{
      font-size: 3rem;
    }
    #calendar_box{
      background: url(../../../static/사진/봄.jpg) center center no-repeat;
      background-size: cover;
      width: 30%;
      height: 30%;
      border: 1px solid ghostwhite;
      float: left;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
      padding:0;
      margin: 2% 7.5% 2% 12.5%;
      font-size: 3rem;
      text-decoration: none;
    }

    #anniversary_box{
      background: url(../../../static/사진/여름.jpg) center center no-repeat;
      background-size: cover;
      width: 30%;
      height: 30%;
      border: 1px solid ghostwhite;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
      padding:0;
      margin: 2% 12.5% 2% 7.5%;
      font-size: 3rem;
      text-decoration: none;
    }
    #main footer{
      margin:0;
      padding:1rem;
    }
    #main footer div{
      padding:0;
      margin:0;
    }
  </style>
    <section id="main">
      {% include "header.html" %}
        <a id="calendar_box" href={% url 'calendarapp:calendar' %}>
          1
        </a>
        <a id="anniversary_box" href={% url 'calendarapp:calendar' %}>
          1
        </a>
      {% include "footer.html" %}
  </section>  
  </body>
  {% endif %}

{% endblock %}