{% extends 'base.html'%}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'calendar/calendar.css' %}">
<body id="calendar">
    {% include "header.html" %}
    <section id="calendar_section">
        <div class="calendar_box">
            <div class="calendar_header">
                <div class="year-month"></div>
                <div class="nav">
                    <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                    <button class="nav-btn go-today" onclick="goToday()">Today</button>
                    <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
                </div>
            </div>
            <div class="main">
                <div class="days">
                    <div class="day">일</div>
                    <div class="day">월</div>
                    <div class="day">화</div>
                    <div class="day">수</div>
                    <div class="day">목</div>
                    <div class="day">금</div>
                    <div class="day">토</div>
                </div>
                <div class="dates"></div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}   
    <script src="{% static 'calendar/calendar.js' %}"></script>
</body>

{% endblock %}